<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <p>Recommendation for you by: <%= title %></p>
  <p id = "p1"><%= data %></p>
  <script src="/socket.io/socket.io.js">
  </script>
  <script>
  var socket = io.connect('http://0.0.0.0:8080');
  console.log('test socket ');
  socket.on('monitor', function (data) {
    data = JSON.parse(data);
    var json_data = "";
    if(data.response.docs.length === 0) json_data = "No Recommendation for "+data.responseHeader.params.q;
    else //json_data = data.response.docs[0].text;
    {
      var i = 0;
      while(data.response.docs[i])
        {
          //console.log('1 ',data.response.docs[i].text);
          if(!json_data.includes(data.response.docs[i].text))
            json_data = json_data + "<br/>" + data.response.docs[i].text;
          i++;
          //console.log('2 ',data.response.docs[i].text);
        }
    }
    document.getElementById("p1").innerHTML = json_data;
  });
  </script>
</body>
</html>
